@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&display=swap');
:root {
    --cor-primaria:black;
    --cor-secundaria: #223e6b;
    --cor-terciaria: whitesmoke;
    --fonte-primaria:'Belanosima', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.topo { 
    padding: 1.5% 0% 1.5% 15%;
    background-color: var(--cor-secundaria);
}
.topo_navegacao{
    display: flex;
    gap: 80px;
}
.topo_navegacao_menu {
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
}
body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}
.destaque-titulo {
    color:var(--cor-secundaria);
}
.apresentacao {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.apresentacao_conteudo_paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}
.apresentacao_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.apresentacao_conteudo_titulo_2 {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: var(--cor-terciaria);
    font-size: 1.75rem;
}
.apresentacao_links_botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    border: 4px solid var(--cor-terciaria);   
}
.apresentacao_links_botao:hover {
    background-color: var(--cor-secundaria);
}
.RODAPE {
    padding: 45px;
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 1.125rem;
}
.IMG {
    width: 50%;
}
@media (max-width: 1200px) {
    .topo {
        padding: 1.5% 0% 1.5% 0%;
    }
    .topo_navegacao{
        justify-content: center;
        gap: 4%;
    }
    .apresentacao {
        flex-direction: column-reverse;
    }
    .apresentacao_conteudo {
        width: auto;
    }
    .apresentacao_links {
        width: auto;
    }
    .apresentacao_links_botao {
        width: auto;
    }
    .IMG{
        width: 50%;
        height: 50%;
    }
}